.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
}

.angle {
    border: 12px solid transparent; border-right: 12px solid #dcf8c6; border-bottom: 12px solid #dcf8c6;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
/* как сделал Игнат
.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0,0,0,0) 15px, rgba(255,255,255,0.3) 0);
}
*/

.content {
    padding: 15px;
    background: #dcf8c6;
    border-radius: 0.4em 0.4em 0.4em 0;
    font-family: 'Arial', sans-serif;
    color: #888;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
}

.text {
    min-width: 150px;
    max-width: 300px;
    padding: 2px;
    word-wrap: break-word;
}

.time {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
}